<!--&lt;!&ndash;all code will be common to the both files&ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="end">-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="widht=device-width, initial-scale=1.0">-->
<!--<title>CRUD - OPERATIONS</title>-->
<!--<link rel = 'stylesheet' href="{% static 'first_app/css/bootstrap.min.css' %}">-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h2 class = "text-center alert alert-danger"> Funtion Based View ModelForm CRUD Project</h2>-->
<!--    {% %}-->

<!--    {%  %}-->
<!--</div>-->
<!--<script src="{% static 'first_app/js/jquery.js' %}"></script>6-->
<!--<script src="{% static 'first_app/js/popper.js' %}"></script>-->
<!--<script src="{% static 'first_app/js/bootsrap.min.js' %}"></script>-->
<!--</body>-->
<!--</html>-->